*{
    font-family: Verdana;
    font-size: 13px;
}

div#page{
    margin: 0 auto;
    width: 50%;
}

div#links{
    text-align: center;
    width 100%;
    float: left;
    height: 40px;
}

div#links ul{
    list-style-type: none;
    display: inline;
}

div#links li{
    display: inline;
}

div#links a{
    padding: 5px;
    border: 1px solid #000;
}
div#content{
    float: left;
    width: 100%;
}
