<!doctype html>

<html>
    <head>
        <title>Minecraft server web interface</title>
        <link type="text/css" href="static/site.css" rel="stylesheet" />
    </head>

    <body>
        <div id="page">
            <h1>MC WEB</h1>
            <div id="links">
                <ul>
                    <li><a href="/">Index</a></li>
                    <li><a href="/players?name=gdh1c">Players</a></li>
                    <li><a href="#">Server</a></li>
                </ul>
            </div>
            <div id="content">
                {{ message }}
            </div>
        </div>
    </body>
</html>
